[Desktop Entry]
Name=Loopicture
Name[zh_CN]=图窗
Comment=Loop display picture
Comment[zh_CN]=循环展示图片
Exec=PictureWindow
TryExec=PictureWindow
Icon=io.github.q962.PictureWindow
Terminal=false
Type=Application
Categories=Graphics;Viewer
MimeType=image/apng;image/avif;image/bmp;image/gif;image/heif;image/jp2;image/jpeg;image/jxl;image/png;image/qoi;image/svg+xml;image/svg+xml-compressed;image/tiff;image/vnd.microsoft.icon;image/webp
StartupNotify=true
Keywords=picture;image;slides
Keywords[zh_CN]=picture;image;slides;图片;幻灯片