@use "sass:color";
@use 'sass:list';

$vars: (
  --theme-font-color: (
    #222226,
    #f0f0f0,
  ),
  --theme-color: (
    #f0f0f0,
    #222226,
  ),
  --header-bg: (
    rgba(white, 0.5),
    rgba(black, 0.5),
  ),
  --button-group-bg: (
    rgba(white, 0.4),
    rgba(black, 0.4),
  ),
  --button-bg: (
    rgba(black, 0.1),
    rgba(white, 0.1),
  ),
  --button-border-color: (
    rgba(white, 0.6),
    rgba(black, 0.6),
  ),
  --headerbar-item-bg: (
    rgba(white, 0.2),
    rgba(black, 0.2),
  ),
  --headerbar-item-bg-active: (
    rgba(white, 0.4),
    rgba(black, 0.4),
  ),
);

:root {
  @each $var-name, $values in $vars {
    #{$var-name}: #{list.nth($values, 1)};
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @each $var-name, $values in $vars {
      #{$var-name}: #{list.nth($values, 2)};
    }
  }
}

.AppWindow {
  background: #00000000;
  border-radius: 12px;

  > .menu {
    padding: 5px;
  }

  &.theme-bg {
    background-color: var(--theme-color);
  }

  &.setup headerbar {
    background-color: transparent;
  }

  headerbar {
    background-color: var(--header-bg);
    border: unset;
    background-image: none;
    transition: background-color 0.2s ease-in-out;
  }
}

.hide_map_btn {
  margin-right: 8px;
  margin-top: 8px;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  &:hover,
  &:focus-visible {
    opacity: 1;
  }
}

AppViewNavigator {
  background-color: var(--theme-color);
  border-radius: 12px;
  box-shadow:
    0 0 12px white,
    0 0 12px black;
}

.controller_bar {
  padding: 8px;
}

.button-group {
  background-color: var(--button-group-bg);
  padding: 6px;
  border-radius: 10px;

  > button {
    &:hover,
    &:focus-within {
      background-color: var(--button-bg);
    }

    background-image: unset;
    border: unset;
  }
}

headerbar {
  .headerbar-item {
    border: 1px solid #00000000;
    border-radius: 5px;
    padding: 3px;

    &:hover {
      background-color: var(--headerbar-item-bg);
      border: 1px solid var(--button-border-color);
    }
    &:active {
      background-color: var(--headerbar-item-bg-active);
    }
  }

  button {
    background-image: unset;
    background-color: unset;
    padding: 2px;
    border-radius: 5px;
    border: 0;
    margin: 0;
  }
}

button.open-image-file {
  padding: 1em 2em;
  border-radius: 99999px;
  transition: background-color 0.2s;
}

.load-failed {
  font-size: 1.5em;
}
